VITE_CHAIN_ID=84532
VITE_CHAIN_NAME=Base Sepolia
VITE_EXPLORER_BASE_URL=https://sepolia.basescan.org
VITE_PUBLIC_RPC_URL=
VITE_PROTOCOL_START_BLOCK=
VITE_JOURNAL_ADDRESS=
VITE_SUBMISSION_ADDRESS=
VITE_REVIEW_ADDRESS=
VITE_REPUTATION_ADDRESS=

DEPLOY_NETWORK_NAME=base-sepolia
DEPLOY_RPC_URL=
DEPLOY_PRIVATE_KEY=
